/* font-family: 'Cinzel', serif;
font-family: 'PT Serif', serif; */

body {
  background-color: #ffffff;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 96px;
  font-weight: normal;
  color: #414141;

  text-align: center;
}

.wrapper3 {
  font-size: 18px;
  max-width: 630px;
  text-align: left;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  font-family: "Cinzel", serif;
}

header p {
  text-align: center;
  font-size: 30px;
}
