/** 
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
**/

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background: #54008c;
}

.nav-wrapper {
  padding: 13px;
  text-align: center;
}

.nav-item {
  color: white;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  padding: 15px;
}

.nav-item:hover {
  background: white;
  color: black;
}

header p {
  margin: 0;
}

main {
  width: 700px;
  margin: 0 auto;
}

p {
  line-height: 1.6;
}

a {
  color: #54008c;
}
