/** 
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background: #54008c;
}

.nav-wrapper {
  padding: 13px;
  text-align: center;
}

.nav-item {
  color: white;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  padding: 15px;
  text-decoration: none;
}

.nav-item:hover {
  background: white;
  color: black;
}

header p {
  margin: 0;
}

.main-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 17px;
}

p {
  line-height: 1.6;
}

a {
  color: #54008c;
}

a:hover {
  background: #54008c;
  color: white;
}

.section-space {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 3px;
}

img {
  max-width: 100%;
  border: 15px solid #54008c;
}
